@page
@{ Layout = "_Layout"; }

<el-card>
    <div slot="header" class="clearfix">
        <span>{{ fileName }}-课件预览</span>
        <el-button style="float: right;padding:3px 0;" type="text" v-on:click="utils.closeLayerSelf"><i class="el-icon-close"></i></el-button>
    </div>
    <el-scrollbar class="scrollbar" :style="{ height: ($(window).innerHeight()-180) + 'px' }">
        <div id="divPlayer"></div>
    </el-scrollbar>
</el-card>
<el-row align="center" style="margin-top:18px;">
    <el-col :span="24" align="center">
        <el-button icon="el-icon-close" :size="euiSize" v-on:click="utils.closeLayerSelf">关 闭</el-button>
    </el-col>
</el-row>

@section Scripts{
<script src="/sitefiles/assets/lib/xgplayer/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/sitefiles/assets/lib/xgplayer/hls/xghlsindex.js" type="text/javascript" charset="utf-8"></script>
<script src="/sitefiles/assets/js/admin/common/studyCourseFileLayerView.js" type="text/javascript"></script>
}
