<template>
    <div style="position:fixed;left:0;bottom:0;width:100%;background-color:#000000;" class="opacity-75 animate__animated animate__fadeInUp">
        <div class="d-flex align-items-center justify-content-between px-4 py-2">
            <el-link :underline="false">
                <div class="text-center" v-on:click="btnAppMenuClick('index')">
                    <i class="fs-3" :class="appMenuActive==='index'?'bi bi-house-heart-fill text-light fw-bold':'bi bi-house text-gray-300 fw-light'"></i>
                    <div :class="appMenuActive==='index'?'text-light fw-bold':'text-gray-300 fw-light'">
                        首 页
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" v-on:click="btnAppMenuClick('studyPlan')">
                    <i class="fs-3" :class="appMenuActive==='studyPlan'?'bi bi-star-fill text-light fw-bold':'bi bi-star text-gray-300 fw-light'"></i>
                    <div :class="appMenuActive==='studyPlan'?'text-light fw-bold':'text-gray-300 fw-light'">
                        培 训
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" v-on:click="btnAppMenuClick('studyCourse')">
                    <i class="fs-3" :class="appMenuActive==='studyCourse'?'bi bi-clipboard-check-fill text-light fw-bold':'bi bi-clipboard-check text-gray-300 fw-light'"></i>
                    <div :class="appMenuActive==='studyCourse'?'text-light fw-bold':'text-gray-300 fw-light'">
                        课 程
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" v-on:click="btnAppMenuClick('exam')">
                    <i class="fs-3 bi bi-ui-checks" :class="appMenuActive==='exam'?'text-light fw-bold':'text-gray-300 fw-light'"></i>
                    <div :class="appMenuActive==='exam'?'text-light fw-bold':'text-gray-300 fw-light'">
                        考 试
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" v-on:click="btnAppMenuClick('mine')">
                    <i class="fs-3" :class="appMenuActive==='mine'?'bi bi-person-fill text-light fw-bold':'bi bi-person text-gray-300 fw-light'"></i>
                    <div :class="appMenuActive==='mine'?'text-light fw-bold':'text-gray-300 fw-light'">
                        我 的
                    </div>
                </div>
            </el-link>
        </div>
    </div>
</template>