<template>
    <div style="position:fixed;left:0;bottom:0;width:100%;" class="opacity-75 bg-dark">
        <div class="d-flex align-items-center justify-content-between px-4 py-2">
            <el-link :underline="false">
                <div class="text-center" :class="appMenuActive==='index'?'text-light fw-bold':'text-gray-400 fw-light'" v-on:click="btnAppMenuClick('index')">
                    <i class="fs-4" :class="appMenuActive==='index'?'bi bi-house-heart-fill':'bi bi-house'"></i>
                    <div>
                        首 页
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" :class="appMenuActive==='studyPlan'?'text-light fw-bold':'text-gray-400 fw-light'" v-on:click="btnAppMenuClick('studyPlan')">
                    <i class="fs-4" :class="appMenuActive==='studyPlan'?'bi bi-star-fill':'bi bi-star'"></i>
                    <div>
                        培 训
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" :class="appMenuActive==='studyCourse'?'text-light fw-bold':'text-gray-400 fw-light'" v-on:click="btnAppMenuClick('studyCourse')">
                    <i class="fs-4" :class="appMenuActive==='studyCourse'?'bi bi-clipboard-check-fill':'bi bi-clipboard-check'"></i>
                    <div>
                        课 程
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" :class="appMenuActive==='exam'?'text-light fw-bold':'text-gray-400 fw-light'" v-on:click="btnAppMenuClick('exam')">
                    <i class="fs-4 bi bi-ui-checks"></i>
                    <div>
                        考 试
                    </div>
                </div>
            </el-link>
            <el-link :underline="false">
                <div class="text-center" :class="appMenuActive==='mine'?'text-light fw-bold':'text-gray-400 fw-light'" v-on:click="btnAppMenuClick('mine')">
                    <i class="fs-4" :class="appMenuActive==='mine'?'bi bi-person-fill':'bi bi-person'"></i>
                    <div>
                        我 的
                    </div>
                </div>
            </el-link>
        </div>
    </div>
</template>