@page
@{ Layout = "_Layout"; }

<el-row :gutter="0">
    @* <el-col :span="6">
        @await Html.PartialAsync("_PartialTree")
    </el-col> *@
    <el-col :span="24">
        <el-card shadow="never" style="border-start-start-radius:0;border-end-start-radius:0;">
            <el-form :inline="true" :size="euiSize">
                <el-form-item label="培训任务">
                    <el-input clearable v-model="formInline.keyword" placeholder="关键字" prefix-icon="el-icon-search"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button icon="el-icon-search" type="primary" v-on:click="btnSearchClick">查 询</el-button>
                </el-form-item>
                <el-form-item>
                </el-form-item>
            </el-form>
            <el-table ref="paperTable" :data="paperList" :size="euiSize"
                      style="width: 100%" :height="$(window).height()-152">
                <el-table-column label="#"
                                 type="index"
                                 width="60"
                                 align="left">
                    <template scope="scope">
                        <span>{{(formInline.pageIndex - 1) * formInline.pageSize + scope.$index + 1}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="培训任务名称" show-overflow-tooltip prop="title">
                    <template slot-scope="scope">
                        <el-link size="mini" type="primary" v-on:click="btnViewClick(scope.row)" v-if="scope.row.tmRandomType!=='RandomExaming' && scope.row.submitType==='Submit'">
                            <span v-if="scope.row.moni"><el-tag type="warning" size="mini">任务模拟</el-tag>{{ scope.row.title }}</span>
                            <span v-else>{{ scope.row.title }}</span>
                        </el-link>
                        <template v-else>
                            <span v-if="scope.row.moni"><el-tag type="warning" size="mini">任务模拟</el-tag>{{ scope.row.title }}</span>
                            <span v-else>{{ scope.row.title }}</span>
                        </template>
                    </template>
                </el-table-column>
               
                <el-table-column prop="createdDate" label="创建时间"
                                 width="150">
                </el-table-column>
               
                <el-table-column width="100">
                    <template slot-scope="scope">
                        <el-dropdown :show-timeout="0" placement="left">
                            <el-button icon="el-icon-arrow-left" size="mini" v-on:click.stop="return false">
                                操作
                            </el-button>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item icon="el-icon-s-data" v-on:click.native="btnManagerAnalysisClick(scope.row)">综合统计</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </template>
                </el-table-column>
                @await Html.PartialAsync("_PartialTableEmpty")
            </el-table>

            <div style="text-align: center; margin-top: 10px;">
                <el-pagination v-on:current-change="handleCurrentChange" background
                               :current-page="formInline.pageIndex"
                               :page-size="formInline.pageSize"
                               layout="total, prev, pager, next, jumper"
                               :total="paperTotal">
                </el-pagination>
            </div>
        </el-card>
    </el-col>
</el-row>

@section Scripts{
    <script src="/sitefiles/assets/js/admin/exam/examPlanRecord.js" type="text/javascript"></script>
}